@model DashboardViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

@section LeftColumn{
    <div id="status-box">
        <img src="@Url.Content("~/Content/Images/profile-picture.jpg")" alt="Profile Picture" height="150" />
    </div>

    <div class="module" id="project-list">
        @Html.Partial("~/Views/ProjectList/_ProjectList.cshtml", @Model.ProjectList)
    </div>
}