@model DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-xs-2 no-horizontal-padding" id="left-column">
        <div class="module" id="project-list">
            @Html.Partial("~/Views/ProjectList/_ProjectList.cshtml", @Model.ProjectList)
        </div>
    </div>

    <div class="col-xs-10 with-padding" id="center-column">
    </div>
</div>