@model DashboardViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

@section LeftColumn {
    <div id="status-box">
        <div id="progress-bar" class="circle">
        </div>
        <div id="level-indicator">
            <h2>13</h2>
        </div>
    </div>

    <div class="module" id="project-list">
        @Html.Partial("~/Views/ProjectList/_ProjectList.cshtml", @Model.ProjectList)
    </div>
}