TinyTwoProjectManager/node_modules/
TinyTwoProjectManager/bin/
TinyTwoProjectManager/obj/
packages/
*.user
*.suo
TinyTwoProjectManager.Web/bin/
TinyTwoProjectManager.Web/obj/
TinyTwoProjectManager.Tests/obj/
TinyTwoProjectManager.Tests/bin/
TinyTwoProjectManager.Service/bin/
TinyTwoProjectManager.Service/obj/
TinyTwoProjectManager.Data/obj/Debug/TinyTwoProjectManager.Data.csproj.FileListAbsolute.txt
TinyTwoProjectManager.Data/obj/
TinyTwoProjectManager.Data/bin/
TinyTwoProjectManager.Core/obj/Debug/TinyTwoProjectManager.Models.csproj.FileListAbsolute.txt
TinyTwoProjectManager.Models/bin/
TinyTwoProjectManager.Models/obj/Debug/TinyTwoProjectManager.Models.csproj.FileListAbsolute.txt
TinyTwoProjectManager.Models/obj/
