@model TaskListCompletionModuleViewModel

<script>
    // TODO: move to .js file
    $(function () {
        $('#task-list-completion-progress').circleProgress({
            value: @Model.CompletionPercentage,
            size: 150,
            thickness: 10,
            startAngle: -Math.PI / 2,
            animationStartValue: 0.0,
            fill: {
                color: '#5e804d'
            }
        });
    });
</script>

<div id="task-list-completion-progress" class="data-visualization"></div>