@model TinyTwoProjectManager.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-xs-2 no-horizontal-padding" id="left-column">
        @Html.Partial("~/Views/Project/_ProjectList.cshtml", Model.ProjectList)
    </div>

    <div class="col-xs-2 no-horizontal-padding" id="center-column">
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/projects.js?v=1")"></script>
}