#left-column {
    height: 100vh;
    background: #3C393F;
    color: #dbdbdb;
}

#left-column h3,
#left-column h4 {
    color: #dbdbdb;
}

#status-box {
    height: 200px;
    background-color: #1a1a1a;
}

#status-box img {
    position: relative;
    top: calc(50% - 75px);
    display: block;
    margin: 0 auto;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
}

#main-header {
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 16px;
}

#main-header p {
    margin-bottom: 0;
    font-size: .9em;
}

#main-header-right {
    float: right;
}

#main-header-right img {
    float: right;
    margin: 7px 0 0 16px;
}

#logo {
    font-weight: bold;
}

#logo:hover {
    text-decoration: none;
}

#logo img {
    float: left;
}

#logo-text {
    padding: 16px 0 14px 10px;
    float: left;
}