.blocker {
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 30px;
    overflow: visible;
}

.modal h3 {
    margin-top: 0;
}