body {
    color: #373737;
    font-family: 'Open Sans', Arial, sans-serif;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}

a {
    color: #7da468;
}

a:hover {
    color: #7da468;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.with-padding {
    padding: 20px;
}

.btn-primary {
    background: #7da468;
    margin-right: 10px;
    border-color: #476039;
}

.btn-primary:hover {
    background: #476039;
    border-color: #476039;
}

.form-control {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}