#status-box canvas {
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    background-image: url('/Content/Images/profile-picture.jpg');
    background-size: 150px;
    display: block;
    margin: 0 auto;
}

#progress-bar {
    position: relative;
    top: calc(50% - 75px);
}

#status-box {
    text-align: right;
}

    #status-box #level-indicator {
        position: relative;
        z-index: 100;
        text-align: center;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        width: 30px;
        height: 30px;
        margin: -4px 40px 0 0;
        float: right;
        background: #ec6c13;
        color: #dbdbdb;
    }

        #status-box #level-indicator h2 {
            width: 30px;
            margin: 5px 1px 0 0;
            float: right;
            font-size: 1.3em;
            font-family: "Open Sans", Arial, sans-serif;
        }