#task-table input:focus {
    outline: none;
}

#task-table input[type=text] {
    width: 100%;
}

#task-table td:first-child {
    width: 30px;
}

.view-mode input[type=text] {
    background: none;
    border: none;
}

.edit-mode input[type=text],
#new-task-edit-row input[type=text] {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

#new-task-edit-row input[type=text] {
    border-bottom: 0;
}

.task-complete input[type=text] {
    color: #b3b3b3;
    text-decoration: line-through;
}